<h1>Events</h1>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start At</th>
      <th>End At</th>
	  <th>Game</th>
	  <th>Players</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td onclick="location.href='<%= calendar_path %>'"><%= event.start_at.in_time_zone.strftime("%l:%M%p (%m/%d/%y)") %></td>
      <td onclick="location.href='<%= calendar_path %>'"><%= event.end_at.in_time_zone.strftime("%l:%M%p (%m/%d/%y)") %></td>
	  <td><%= event.game.name %></td>
	  <td><%= event.players.map {|player| "#{player.name} (#{player.alias})"}.join(", ") %>
      <td><%= link_to "Show", event, class: "btn btn-small"%></td>
      <td><%= link_to "Edit", edit_event_path(event), class: "btn btn-small" %></td>
      <td><%= link_to "Delete", event, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-small" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Event", new_event_path, class: "btn" %>
