<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :platform %><br />
  <%= f.text_field :platform %>
</div>
<div class="field">
  <%= f.label :players_required %><br />
  <%= f.text_field :players_required %>
</div>