<h3>Game</h3>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Platform</th>
	  <th>Players Required</th>
	  <th></th>
	  <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @game.name %></td>
      <td><%= @game.platform %></td>
	  <td><%= @game.players_required %></td>
      <td><%= link_to "Edit", edit_game_path(@game), class: "btn btn-small" %></td>
	  <td><%= link_to "Delete", @game, :method => :delete, data: {confirm: "Are you sure you want to delete?"}, :title => "Delete #{@game.name}", class: "btn btn-small" %></td>
    </tr>
  </tbody>
</table>