<h3>Player</h3>
<ul>
	<li>Name:  <%= @player.name %></li>
	<li>Alias: <%= @player.alias %></li>
	<li>Email: <%= @player.email %></li>
	<table>
		<td><%= link_to "Edit | ", edit_player_path(@player) %></td>
		<td><%= link_to "Delete", @player, :method => :delete, data: {confirm: "Are you sure you want to delete?"}, :title => "Delete #{@player.name}" %></td>
	</table>
</ul>