<h3><%= "Admin-Level " if @player.admin? %>Player</h3>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Alias</th>
	  <th>Email</th>
	  <th></th>
	  <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @player.name %></td>
      <td><%= @player.alias %></td>
	  <td><%= @player.email %></td>
	  <td><%= link_to "Edit", edit_player_path(@player) %></td>
	  <td><%= link_to "Delete", @player, :method => :delete, data: {confirm: "Are you sure you want to delete?"}, :title => "Delete #{@player.name}" %></td>
    </tr>
  </tbody>
</table>