<h3><%= "Admin-Level " if @player.admin? %>Player</h3>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Alias</th>
	  <th>Email</th>
	  <th></th>
	  <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @player.name %></td>
      <td><%= @player.alias %></td>
	  <td><%= @player.email %></td>
	  <td><%= link_to "Edit", edit_player_path(@player) %></td>
	  <td><%= link_to "Delete", @player, :method => :delete, data: {confirm: "Are you sure you want to delete?"}, :title => "Delete #{@player.name}" %></td>
    </tr>
  </tbody>
</table>
<br>
<h3>Friends</h3>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Alias</th>
	  <th>Email</th>
	  <th>Friendship Status </th>
	  <th></th>
    </tr>
  </thead>

  <tbody>
	<% @player.friendships.each do |friendship| %>
    <tr>
      <td><%= friendship.friend.name %></td>
      <td><%= friendship.friend.alias %></td>
	  <td><%= friendship.friend.email %></td>
	  <td>
		<% if friendship.mutual %>
			Mutual
		<% else %>
			<%= friendship.pending ? "Pending" : "Denied" %>
		<% end %>
	  </td>
	  <td><%= link_to "Remove Friend", friendship, :method => :delete, data: {confirm: "Are you sure you want to remove this friend?"}, :title => "Remove Friend", class: "btn btn-small"%></td>
    </tr>
	<% end %>
  </tbody>
</table>
<br>
<h3>Pending Friendship Requests</h3>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Alias</th>
	  <th>Email</th>
	  <th></th>
    </tr>
  </thead>

  <tbody>
	<% @player.mutual_friendships.pending.each do |pending_friendship| %>
    <tr>
	  <% if pending_friendship.player %>
      <td><%= pending_friendship.player.name %></td>
      <td><%= pending_friendship.player.alias %></td>
	  <td><%= pending_friendship.player.email %></td>
	  <td><%= link_to "Accept", friendships_path(:friend_id => pending_friendship.player), method: :post, class: "btn btn-small" %>
		  <%= link_to "Deny", pending_friendship,
				method: :patch, data: {confirm: "Are you sure you want to deny this friendship request?"},
				:title => "Deny Friend Request", class: "btn btn-small" %></td>
    </tr>
	  <% end %>
	<% end %>
  </tbody>
</table>